.promotion{
    position:absolute;
    top:0;
    left:0;
    text-align: center;
    background-color:#e83e8c;
    width: 100vw;
}
.header{
    margin-top:3rem;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}