.itemList{
    max-width: 100%;
    display:grid;
    grid-template-columns: repeat(3,1fr);

    @media (max-width:500px) {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}
.item{
    width: 25%;
}